@use "./variables.scss" as vars;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 62.5%;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: vars.$black;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: vars.$black;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  height: 100%;
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 1rem;
  max-width: 1400px;
}

body {
  background-color: vars.$background;
}
